@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }

    .container {
        max-width: 830px;
    }

    .header-content {
        &__nav ul {
            gap: 15px;
        }

        &__logo {
            & img {
                width: 45px;
                height: 45px;
            }
            & span {
                font-size: 1.4rem;
            }
        }
    }

    .season {
        flex-basis: calc((100% - 150px) / 2);
    }

    .hero {
        &__description {
            width: 70%;
        }

        .playerlist {
            & ul {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .footer__left p {
        width: 400px;
    }
}
@media (min-width: 830px) {
    #menubtn {
        display: none;
    }
}

@media (max-width: 830px) {
    html {
        font-size: 13px;
    }

    .container {
        max-width: 600px;
    }

    #menubtn,
    #themebtn {
        display: flex;
    }

    .header-content {
        &__nav {
            gap: 20px;
            & ul {
                display: none;
            }
        }
        &__logo {
            & img {
                width: 45px;
                height: 45px;
            }
            & span {
                font-size: 1.4rem;
            }
        }
    }

    .season {
        flex-basis: calc((100% - 10px) / 2);
    }

    .hero {
        padding-top: 0;

        &__content,
        &__left {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__description {
            text-align: center;
        }

        & .playerlist {
            display: none;
        }

        &__left {
            & p {
                width: 500px;
            }
        }

        &__titles {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    .faq-answer p {
        font-size: 1.3rem;
    }

    .footer__left p {
        width: 320px;
    }
}

@media (max-width: 630px) {
    html {
        font-size: 13px;
    }

    .header-content {
        &__logo {
            & img {
                width: 45px;
                height: 45px;
            }
            & span {
                font-size: 1.4rem;
            }
        }
    }

    .container {
        max-width: 400px;
    }

    .season {
        flex-basis: calc((100% - 100px) / 1);
    }

    .hero {
        padding-top: 0;

        &__content,
        &__left {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &__words {
            font-size: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        & .playerlist {
            display: none;
        }

        &__left {
            & p {
                width: 400px;
            }
        }
    }

    .faq-answer p {
        font-size: 1.3rem;
    }

    .footer__left p {
        width: 320px;
    }

    .footer__badges {
        display: none;
    }
}
@media (max-width: 445px) {
    html {
        font-size: 14px;
    }

    .header-content {
        &__logo {
            & img {
                width: 45px;
                height: 45px;
            }
            & span {
                font-size: 1.4rem;
            }
        }
    }

    .container {
        max-width: 340px;
    }

    .season {
        flex-basis: calc((100% - 75px) / 1);
    }

    .hero {
        padding-top: 0;

        &__content,
        &__left {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        & .playerlist {
            display: none;
        }

        &__left {
            & p {
                width: 300px;
            }
        }

        &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            & button,
            & a,
            & a button {
                width: 80%;
            }
        }
    }
    #zayavkaIcon {
        display: none;
    }

    .faq-answer p {
        font-size: 1.3rem;
    }

    .footer__left p {
        width: 300px;
    }

    .footer__badges {
        display: none;
    }
}
