:root {
    --red: #ff0000;
    --accent-red: #d41717;
    --accent-red-hover: #bd1515;
    --accent-red-transparent: #ff0000a2;
    --gray: #303030;

    --text: #e9e9e9;
    --sm-text: #cecece;

    --accent-text: #fff;

    --background: #0e0e0e;
    --background-tr: #12121260;

    --border: #ffffff50;
    --border-hover: #ffffff75;
}

// .light-theme {
//     --red: #ff0000;
//     --accent-red: #d41717;
//     --accent-red-hover: #bd1515;
//     --accent-red-transparent: #c70d0ddd;
//     --gray: #e0e0e0;

//     --text: #121212;
//     --sm-text: #333;

//     --accent-text: #050505;

//     --background: #f1f1f1;
//     --background-tr: #ffffff60;

//     --border: #00000030;
//     --border-hover: #00000050;
// }
